.photo-gallery {
  color:#313437;
  background-color:#fff;
}

.photo-gallery p {
  color:#7d8285;
}

.photo-gallery h2 {
  font-weight:bold;
  margin-bottom:40px;
  padding-top:40px;
  color:inherit;
}

@media (max-width:767px) {
  .photo-gallery h2 {
    margin-bottom:25px;
    padding-top:25px;
    font-size:24px;
  }
}

.photo-gallery .intro {
  font-size:16px;
  max-width:500px;
  margin:0 auto 40px;
}

.photo-gallery .intro p {
  margin-bottom:0;
}

.photo-gallery .photos {
  padding-bottom:20px;
}

.photo-gallery .item {
  padding-bottom:30px;
}

.about-me {
  margin:0;
}

.main-text {
  font-size:1.2em;
}

.pdf-link {
  float:right;
  margin-right:5em;
}

#second-quote {
  margin-top:3em;
}

.big-name {
  font-size:3em;
  color:#336799;
}

#email-link {
  font-size:1.3em;
}

.skills {
  display:inline;
  margin-left:.5em;
}

.experience {
  width:50%;
  float:left;
  margin-top:.5em;
}

#skills-h1 {
  margin-bottom:28px;
}

.each-row {
  margin-top:.5em;
}

#design-icon {
  margin-top:1em;
}

#dev-icon {
  margin-top:.8em;
}

#comm-icon {
  margin-top:.9em;
}

#data-icon {
  margin-top:.9em;
}

#avatar {
  float:left;
  margin:1em 1em 1em 0;
}

.experience-bottom {
  margin-bottom:.5em;
}

.experience-card {
  background-color:rgba(0,0,0,0.075);
  border-radius:2%;
}

@media (max-width:589px) {
  .experience {
    width:100%;
  }
}

@media (max-width:589px) {
  .icons-mobile {
    right:.7em;
    position:relative;
  }
}

@media (max-width:589px) {
  .icons-col {
    width:10%;
  }
}

@media (max-width:589px) {
  .experience-card {
    width:90%;
  }
}

@media (max-width:350px) {
  .experience-card {
    width:87%;
  }
}

.my-name {
  font-family:'Roboto, san-serif';
  font-weight:400;
  color:black;
}

@media (max-width:589px) {
  #my-name {
    font-size:3em;
  }
}

@media (max-width:350px) {
  #my-name {
    /*font-size:2em;*/
    font-family:Bevan, cursive;
  }
}

body {
  color:#444444;
}

@media (max-width:350px) {
  #hello {
    font-size:.5em;
  }
}

#name0 {
  position:relative;
  z-index:0;
}

#name1 {
  position:relative;
  z-index:1;
}

#name2 {
  position:relative;
  z-index:2;
}

#name3 {
  position:relative;
  z-index:3;
}

#name4 {
  position:relative;
  z-index:4;
}

#name5 {
  position:relative;
  z-index:5;
}

#name6 {
  position:relative;
  z-index:6;
}

#name7 {
  position:relative;
  z-index:7;
}

#name8 {
  position:relative;
  z-index:8;
}

#name9 {
  position:relative;
  z-index:9;
}

#name10 {
  position:relative;
  z-index:10;
}

#name11 {
  position:relative;
  z-index:11;
}

@media (min-width:733px) {
  .my-name {
    margin:-.1em 0 -.3em 0;
    font-size:4.7em;
    letter-spacing:-.09em;
    /*word-spacing:.1em;*/
  }
}

@media (max-width:732px) {
  .my-name {
    font-size:3.8em;
    margin:-.1em 0 -.3em 0;
    letter-spacing:-.09em;
  }
}

@media (max-width:399px) {
  .my-name {
  }
}

