.time {
	font-family: 'Source Code Pro';
	margin-top: .15em;
}

.clock {
	background-color: #000;
	height: 5em;
	width: 60%;
	padding: .5em .5em 0 0;
	margin: 1em 1em 1em 6.5em;
}

#clock-buttons {
	margin-top: 5em;
}

button {
	padding: 0;
}